name: Build and Deploy GitHub Pages
on:
  push:
    branches: ['a']
  #--allow manual run
  workflow_dispatch:
#--permissions to allow deployment
permissions:
  contents: read
  pages: write
  id-token: write
#--prevent previous runs from over
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out project repo
        uses: actions/checkout@v3
      - name: Check out main site repo
        uses: actions/checkout@v3
        with:
          repository: tobymackenzie/tobymackenzie.site
          path: site
      - name: Configure GH Pages
        uses: actions/configure-pages@v2
      - name: Validate composer
        run: composer validate --strict
      - name: Cache composer deps
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: 'composer-'
      - name: Install PHP deps
        run: 'composer install --no-progress --prefer-dist'
      - name: Install system deps
        run: 'sudo apt install sassc'
      - name: Make dist dir
        run: 'mkdir dist'
      - name: PHP build
        run: php build.php
      - name: Site build
        run: ./site/bin/short
      - name: Upload GH artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./dist
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy GH Pages
        id: deployment
        uses: actions/deploy-pages@v1
